@function primaryColor($value) {
   $result: rgba(1, 4, 0, $value);
   @return $result;
}

@function secondColor($value) {
   $result: rgba(48, 51, 46, $value);
   @return $result;
}

@function thirdColor($value) {
   $result: rgba(255, 251, 252, $value);
   @return $result;
}

@function fourthColor($value) {
   $result: rgba(98, 187, 193, $value);
   @return $result;
}

@mixin progressBar($color, $progress) {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: $progress;
   background-color: $color;
}

//** font import
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
