.container {
   width: 100%;
   height: 100vh;
   background-color: transparent;
   margin: 0;
   padding: 0;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   background-color: antiquewhite;

   // & > section {
   //    width: 60%;
   //    height: 100%;
   // }

   .left-page {
      background-color: aqua;
      width: 60%;
      height: 90%;
   }

   .main-page {
      background-color: yellow;
      width: 60%;
      height: 90%;
   }

   .right-page {
      background-color: red;
      width: 60%;
      height: 90%;
   }

   .left-page,
   .right-page {
      width: 60%;
      height: 90%;
      position: absolute;
   }
}
