// @keyframes spin {
//    0% {
//       transform: rotate(0);
//    }

//    100% {
//       transform: rotate(360deg);
//    }
// }

.overview {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 100%;
   width: 100%;

   .head {
      text-align: center;

      h2 {
         transform: translateY(20vh);
      }
   }

   .logo-animation {
      height: 100%;
      width: 100%;
   }
}
