.overview {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 100%;
   width: 100%;
   transform: translateY(-1rem);

   .head {
      margin: 0;
      text-align: center;

      h1 {
         margin-bottom: 0;
         font-size: 3rem;
         text-transform: uppercase;
         letter-spacing: 0.2rem;
      }

      h2 {
         font-size: 3rem;
         font-family: 'La Belle Aurore', cursive;
         margin: 0;
      }
   }

   .logo-animation {
      height: 100%;
      width: 100%;
   }
}

//** responsive scss

@media only screen and (max-width: 1050px) {
   .overview {
      .head {
         h1 {
            font-size: 2.2rem;
         }
      }
   }
}
