.skills {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;

   & > section {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;

      svg {
         font-size: 1.8rem;
      }

      div {
         border-radius: 20px;
         border: solid 1px;
         position: relative;
         width: 70%;
         height: 0.8rem;
         transition: 1s ease-in-out;

         // &::before {
         //    content: '';
         //    position: absolute;
         //    top: 0;
         //    right: 100%;
         //    bottom: 0;
         //    left: 0;
         // }
      }
      span {
         position: absolute;
         border-radius: 20px;
         width: 0;
         height: 100%;
         transition-duration: 1;
      }
   }

   .react {
      span {
         @include progressBar(#5ed3f3, 70%);
      }
   }
   .js {
      span {
         @include progressBar(#efd81d, 60%);
      }
   }
   .ts {
      span {
         @include progressBar(#2f74c0, 45%);
      }
   }
   .redux {
      div::before {
         @include progressBar(#7c41be, 30%);
      }
   }
   .scss {
      div::before {
         @include progressBar(#c76494, 30%);
      }
   }
   .node {
      div::before {
         @include progressBar(#509941, 50%);
      }
   }
   .mongo {
      div::before {
         @include progressBar(#4cab3d, 60%);
      }
   }
   .webpack {
      div::before {
         @include progressBar(#2e6daa, 70%);
      }
   }
}
