@function primaryColor($value) {
   $result: rgba(1, 4, 0, $value);
   @return $result;
}

@function secondColor($value) {
   $result: rgba(48, 51, 46, $value);
   @return $result;
}

@function thirdColor($value) {
   $result: rgba(255, 251, 252, $value);
   @return $result;
}

@function fourthColor($value) {
   $result: rgba(98, 187, 193, $value);
   @return $result;
}

// @function fifthColor($value) {
//    $result: rgba(248, 188, 36, $value);
//    @return $result;
// }
